
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.elementos-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

button{
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: #0056b3;
}

header h1{
    color: blue;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

header img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

body{
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s;
}

body.modo-oscuro{
    background-color: #000000;
    color: #ffffff;
}

p{
    font-size: 16px;
    color: gray;
    font-family:'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: #0056b3;
}


i{
    width: 70px;
    height: 70px;
}

.grid-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-monitoreo{
    text-align: center;
    padding: 10px;
    border: black solid 3px;
    background-color: lightgray;
}

.grid-analisis{
    text-align: center;
    padding: 10px;
    border: black solid 3px;
    background-color: lightgray;
}

.grid-respuesta{
    text-align: center;
    padding: 10px;
    border: black solid 3px;
    background-color: lightgray;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0px;
    justify-content: center;
    list-style-type: none;
}

.flex-review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.flex-review > div{
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3 ease, background-color 0.3s ease;
    width: 50%;
}

.flex-review > div:hover{
    border: black solid 3px;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #d3d3d3;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/*
.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: nowrap;
}
*/
footer i{
    text-decoration: none;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    padding: 40px;
}

footer p{
    margin: 0;
    text-align: center;
    font-size: 14px;
}

