:root{
    
    background-color: gray;
}

h1{
    color: blue;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

header img{
    width: 100px;
    height: 100px;
    margin: 10px;
    box-align: center;
}
p{
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: linen;
}
i{
    width: 70px;
    height: 70px;
}
